{% extends "base.html" %}
{% block head %}
<style>
    #banner h1 {
        color:#fff !important;
    }

    @media (min-width:961px)  { 
        .container-fluid {
            padding:75px;
        }
        #banner {
            height:1302px;
        }
        #header {
            font-size:60pt; 
        }
        /* tablet, landscape iPad, lo-res laptops ands desktops */ }

    </style>
{% endblock %}
{% block title %}{% if category %}{{ category }} Independent Studies | {% endif %}{% endblock %}
{% block content %}
{% if category_id %}
<div class="container-fluid text-center">
    <h1 id="active-{{ category }}">{{ category }} Independent Studies</h1>
</div>
{% else %}
<div class="container-fluid">
<div id="banner" class="row text-center align-items-center justify-content-center" style="background: url(https://static.wixstatic.com/media/6202de_7273eceab69c4c09b846a20ebc5f8b77~mv2.jpeg/v1/fill/w_981,h_1102,al_c,q_85,usm_0.66_1.00_0.01/6202de_7273eceab69c4c09b846a20ebc5f8b77~mv2.webp) no-repeat center; width:100%; background-size: cover; ">
    <h1 id="header" style="background-color: rgba(0, 0, 0, 0.6);">FALL 2020 INDEPENDENT STUDY SYMPOSIUM</h1>
</div>
<!-- <img alt="UHS Yearbook Piece Red.jpeg" src="https://static.wixstatic.com/media/6202de_7273eceab69c4c09b846a20ebc5f8b77~mv2.jpeg/v1/fill/w_981,h_1102,al_c,q_85,usm_0.66_1.00_0.01/6202de_7273eceab69c4c09b846a20ebc5f8b77~mv2.webp" style="width: 981px; height: 1102px; object-fit: cover;"> -->
</div>
{% endif %}
<div class="container-fluid" style="padding-top:15px">
    {% if info.is_array|length > 0 %}
<div class="card-columns" id="cards" style="font-family: 'Roboto', sans-serif;">
    {% for this_independent_study in info.is_array %}
        <div class="card {% if this_independent_study.is_affinity_group %}affinity-group{% else %}independent_study{% endif %}">
        <img class="card-img-top" src="{{ this_independent_study.cover_photo }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="/projects/{{ this_independent_study.id }}"><strong style="color: #ab192d;">{{ this_independent_study.title }} ({{ this_independent_study.name }} '{{ this_independent_study.graduation_year }})</strong></a></h5>
                <p class="card-text">Sponsor{% if this_independent_study.sponsor_info[0].is_not_last %}s{% endif %}: {% for sponsor in this_independent_study.sponsor_info %}{% if sponsor.is_not_first %}, {% else %}{% if sponsor.is_not_last %}{% if sponsor.is_not_first %} and {% endif %}{% endif %}{% endif %}<a style="color: #ab192d;" href="{{ sponsor.link }}">{{ sponsor.name }}</a>{% if sponsor.is_not_last %}{% endif %}{% endfor %}</p>
                <p class="card-text">{{ this_independent_study.short_description }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<div class="row text-center">
    <h3>No matching independent studies found.</h3>
</div>
{% endif %}
</div>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}