h1,h2,h3,h4,h5 {
    width:100%;
}
* {
    font-family: raleway, sans-serif;
}
a:hover {
    text-decoration-color: #ab192d;
    color: #ab192d;
}
a {
    color: #ab192d;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { 
    #main {
        padding-top:50px;
    }/* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
.btn-outline-uhs:hover {
    color: #fff;
    background-color: #ab192d;
    border-color: #ab192d;
}
.btn-outline-uhs {
    color: #ab192d;
    background-color: transparent;
    background-image: none;
    border-color: #ab192d;
}
